Source: adwaita-icon-theme
Standards-Version: 4.7.4
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders:
 Jeremy Bícha <jbicha@ubuntu.com>,
 Laurent Bigonville <bigon@debian.org>,
 Marco Trevisan (Treviño) <marco@ubuntu.com>,
Section: gnome
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Indep:
 gettext,
 libgtk-3-bin,
 librsvg2-bin,
 librsvg2-common:native,
 meson,
 pkgconf,
 python3:native,
Vcs-Browser: https://salsa.debian.org/gnome-team/adwaita-icon-theme
Vcs-Git: https://salsa.debian.org/gnome-team/adwaita-icon-theme.git
Homepage: https://gitlab.gnome.org/GNOME/adwaita-icon-theme

Package: adwaita-icon-theme
Architecture: all
Multi-Arch: foreign
Depends:
 gtk-update-icon-cache,
 hicolor-icon-theme,
Recommends:
 librsvg2-common,
Suggests:
 adwaita-icon-theme-legacy,
Provides:
 adwaita-icon-theme-full (= ${binary:Version}),
 gnome-icon-theme-symbolic,
Description: default icon theme of GNOME
 This package contains the default icon theme used by the GNOME desktop.
 The icons are used in core apps like Settings, Files, and GNOME Shell.
 .
 Other apps are recommended to include their own icons using the GNOME
 Design Team's Icon Development Kit.
